.timer--display {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 4px 4px 32px;

	.timer--time {
		font-size: 1.4rem;
		line-height: 1;
		font-weight: 500;
		color: var(--color--text-disabled);
		font-family: var(--font--mono);
		background-color: var(--color--background-secondary);
		border-radius: var(--border-radius-small);

		&.isActive {
			color: var(--color--text-primary);
			animation: none;
		}

		&.isPaused {
			color: var(--color--text-disabled);
			animation: blink 1.5s step-start infinite;
		}
	}

	.btn-reset {
		&:disabled {
			cursor: not-allowed;
			background-color: var(--color--tertiary-light);
		}
	}
}

@keyframes blink {
	50% {
		color: var(--color--text-primary);
	}
}
