.timer-display {
    display: flex;
    padding: 4px 4px 4px 32px;
    align-items: center;
    justify-content: center;
    background-color: var(--color--background-secondary);
    border-radius: var(--border-radius-small);

    .timer-time {
        color: var(--color--text-disabled);
        font-weight: 500;
        font-size: 1.4rem;
        font-family: var(--font--mono);
        line-height: 1;

        &.active {
            color: var(--color--text-primary);
            animation: none;
        }

        &.paused {
            color: var(--color--text-disabled);
            animation: blink 1.5s step-start infinite;
        }
    }

    .btn-reset {
        &:disabled {
            background-color: var(--color--tertiary-light);
            cursor: not-allowed;
        }
    }
}

@keyframes blink {
    50% {
        color: var(--color--text-primary);
    }
}
