.timer-comment-field-container {
	width: min(400px, 100%);
	.timer-comment-field {
		input {
			font-size: 0.9rem;
			border-color: var(--color--border-ui);
			transition: border-color 0.3s ease;

			&::placeholder {
				color: var(--color--text-placeholder);
			}

			&[data-disabled] {
				background-color: var(--color--background-disabled);
				cursor: not-allowed;
				border-color: var(--color--border-disabled);

				&::placeholder {
					color: var(--color--text-disabled);
				}
			}
		}

		&.focus {
			input {
				border-color: var(--color--primary);
			}
		}
	}
}
