/* components/features/timer/TimerDisplay.module.css */

.time {
    color: var(--color--text-disabled);
    font-weight: var(--font--weight-bold);
    font-size: var(--font--size-xxl);
    font-family: var(--font--mono);
    line-height: 1;
    transition: var(--transition);
}

/* Modifiers act as unique classes in Modules */
.isActive {
    color: var(--color--text-primary);
}

.isPaused {
    animation: blink 1.5s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}
