/* components/features/timer/TimerDisplay.module.css */

.time {
	font-size: var(--font--size-xxl); /* Use your new token! */
	line-height: 1;
	font-weight: var(--font--weight-bold);
	color: var(--color--text-disabled);
	font-family: var(--font--mono);
	transition: var(--transition);
}

/* Modifiers act as unique classes in Modules */
.isActive {
	color: var(--color--text-primary);
}

.isPaused {
	animation: blink 1.5s step-start infinite;
}

.timerResetButton {
	border-radius: var(--border-radius-small);

	&:disabled {
		cursor: not-allowed;
		background-color: var(--color--tertiary-light);
	}
}

@keyframes blink {
	50% {
		opacity: 0.5; /* Cleaner than changing colors */
	}
}
