.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition: background-color var(--transition);

	&[data-variant="default"] {
		border-color: var(--color--border-ui);
	}

	&.button--primary,
	&[data-variant="filled"] {
		background-color: var(--color--button-primary-bg);
		color: var(--color--text-on-primary);

		&:hover:not(:disabled):not([data-disabled]) {
			background-color: var(--color--button-primary-bg-hover);
		}
	}

	&.button--secondary,
	&[data-variant="secondary"] {
		background-color: var(--color--button-secondary-bg);
		color: var(--color--text-on-secondary);

		&:hover:not(:disabled):not([data-disabled]) {
			background-color: var(--color--button-secondary-bg-hover);
		}
	}

	&.button--tertiary,
	&[data-variant="tertiary"] {
		background-color: var(--color--button-tertiary-bg);
		color: var(--color--text-on-tertiary);

		&:hover:not(:disabled):not([data-disabled]) {
			background-color: var(--color--button-tertiary-bg-hover);
		}
	}

	&.button--primary-muted,
	&[data-variant="primary-muted"] {
		background-color: var(--color--button-primary-muted-bg);
		color: var(--color--text-on-primary-muted);

		&:hover:not(:disabled):not([data-disabled]) {
			background-color: var(--color--button-primary-muted-bg-hover);
		}
	}

	&[data-variant="light"] {
	}
	&[data-variant="outline"] {
	}
	&[data-variant="subtle"] {
	}
	&[data-variant="transparent"] {
	}
	&[data-variant="white"] {
	}

	&[data-loading] {
		opacity: 0.7;
		cursor: not-allowed;
	}

	&:disabled,
	&[data-disabled="true"] {
		background-color: var(--color--background-disabled);
		border-color: var(--color--border-disabled);
		color: var(--color--text-disabled);
		cursor: not-allowed;
	}
}
