.iconButton {
	border-radius: var(--border-radius-small);

	&:disabled {
		cursor: not-allowed;
		background-color: var(--color--background-disabled);
	}

	&[data-variant="filled"] {
		background-color: var(--color--button-primary-bg);
		color: var(--color--text-on-primary);

		&:hover:not(:disabled):not([data-disabled]) {
			background-color: var(--color--button-primary-bg-hover);
		}

		&:disabled,
		&[data-disabled] {
			background-color: var(--color--background-disabled);
			color: var(--color--text-disabled);

			svg path {
				fill: var(--color--text-disabled);
			}
		}
	}

	&[data-variant="light"] {
	}
	&[data-variant="outline"] {
	}
	&[data-variant="subtle"] {
	}
	&[data-variant="transparent"] {
	}
	&[data-variant="white"] {
	}

	&[data-loading] {
		opacity: 0.7;
		cursor: not-allowed;
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		cursor: not-allowed;
	}
}

.buttonPrimary {
	background-color: var(--color--button-primary-bg);
	color: var(--color--text-on-primary);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-primary-bg-hover);
	}

	svg path {
		fill: var(--color--icon-on-primary);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);

		svg path {
			fill: var(--color--text-disabled);
		}
	}
}

.buttonSecondary {
	background-color: var(--color--button-secondary-bg);
	color: var(--color--text-on-secondary);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-secondary-bg-hover);
	}

	svg path {
		fill: var(--color--icon-on-secondary);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);

		svg path {
			fill: var(--color--text-disabled);
		}
	}
}

.buttonTertiary {
	background-color: var(--color--button-tertiary-bg);
	color: var(--color--text-on-tertiary);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-tertiary-bg-hover);
	}

	svg path {
		fill: var(--color--icon-on-tertiary);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);

		svg path {
			fill: var(--color--text-disabled);
		}
	}
}

.buttonPrimaryMuted {
	background-color: var(--color--button-primary-muted-bg);
	color: var(--color--text-on-primary-muted);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-primary-muted-bg-hover);
	}

	svg path {
		fill: var(--color--text-on-primary-muted);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);

		svg path {
			fill: var(--color--text-disabled);
		}
	}
}
