.iconButton {
	border-radius: var(--border-radius-small);
	border-width: 0;

	&[data-variant="filled"] {
		background-color: var(--color--button-primary-bg);
		color: var(--color--icon-on-primary);

		&:hover:not(:disabled):not([data-disabled]) {
			background-color: var(--color--button-primary-bg-hover);
			color: var(--color--icon-on-primary);
		}

		&:disabled,
		&[data-disabled] {
			background-color: var(--color--background-disabled);
			color: var(--color--text-disabled);
		}
	}

	&[data-variant="light"] {
	}
	&[data-variant="outline"] {
	}
	&[data-variant="subtle"] {
		color: var(--color--text-primary);

		&:hover:not(:disabled):not([data-disabled]) {
			background-color: var(--color--background-primary-hover);
			color: var(--color--text-primary);
		}
	}
	&[data-variant="transparent"] {
	}
	&[data-variant="white"] {
	}

	&[data-loading] {
		opacity: 0.7;
		cursor: not-allowed;
	}

	&:disabled,
	&[data-disabled] {
		cursor: not-allowed;
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);
	}
}

.buttonPrimary,
.buttonPrimary[data-variant="filled"] {
	background-color: var(--color--button-primary-bg);
	color: var(--color--icon-on-primary);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-primary-bg-hover);
		color: var(--color--icon-on-primary);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);
	}
}

.buttonSecondary,
.buttonSecondary[data-variant="filled"] {
	background-color: var(--color--button-secondary-bg);
	color: var(--color--icon-on-secondary);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-secondary-bg-hover);
		color: var(--color--icon-on-secondary);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);
	}
}

.buttonTertiary,
.buttonTertiary[data-variant="filled"] {
	background-color: var(--color--button-tertiary-bg);
	color: var(--color--icon-on-tertiary);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-tertiary-bg-hover);
		color: var(--color--icon-on-tertiary);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);
	}
}

.buttonPrimaryMuted,
.buttonPrimaryMuted[data-variant="filled"] {
	background-color: var(--color--button-primary-muted-bg);
	color: var(--color--text-on-primary-muted);

	&:hover:not(:disabled):not([data-disabled]) {
		background-color: var(--color--button-primary-muted-bg-hover);
		color: var(--color--text-on-primary-muted);
	}

	&:disabled,
	&[data-disabled] {
		background-color: var(--color--background-disabled);
		color: var(--color--text-disabled);
	}
}
