.date-picker {
	/* Base date picker styling */
	--input-bg: var(--color--input-background);
	--input-bd: var(--color--input-border);
	color: var(--color--input-text);

	&:disabled,
	&[data-disabled="true"] {
		--input-disabled-bg: var(--color--input-background-disabled);
		--input-disabled-bd: var(--color--input-border-disabled);
		color: var(--color--input-text-disabled);
	}
}

.date-picker--error {
	border-color: var(--color--error-500);
}

.date-picker--warning {
	border-color: var(--color--secondary-500);
}

.date-picker--success {
	border-color: var(--color--success-500);
}
