.select {
	/* Base select styling */
}

.select--error {
	border-color: var(--color--error-500);
}

.select--warning {
	border-color: var(--color--secondary-500);
}

.select--success {
	border-color: var(--color--success-500);
}
