.time-input {
	/* Base time-input styling */
	--input-bg: var(--color--input-background);
	--input-bd: var(--color--input-border);
	color: var(--color--input-text);

	&:disabled,
	&[data-disabled="true"] {
		--input-disabled-bg: var(--color--input-background-disabled);
		--input-disabled-bd: var(--color--input-border-disabled);
		color: var(--color--input-text-disabled);
	}
}

.time-input--error {
	--input-bd: var(--color--error-500);
}

.time-input--warning {
	--input-bd: var(--color--secondary-500);
}

.time-input--success {
	--input-bd: var(--color--success-500);
}
