.time-picker {
	/* Base time picker styling */
}

.time-picker--error {
	border-color: var(--color--error-500);
}

.time-picker--warning {
	border-color: var(--color--secondary-500);
}

.time-picker--success {
	border-color: var(--color--success-500);
}
