.inputTime {
	input {
		&[data-disabled="true"] {
			color: var(--color--text-disabled);
			--input-disabled-bg: var(--color--input-background-disabled);
			opacity: 1;
		}
	}
}

.inputDuration {
	input {
		&[data-disabled="true"] {
			color: var(--color--text-disabled);
			--input-disabled-bg: var(--color--input-background-disabled);
			opacity: 1;
		}
	}
}
